

.jumbotron {

    text-align: center;
    background-color:rgb(64, 41, 80);
    color: whitesmoke;
    border-radius: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;


    

}
